@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-page {
      height: 858px; 
  }
  .h-bottompage{
      height: 1277px;
  }
  .h-header{
      height: 100px;
  }
  .h-footer{
      height: 272px;
}
  .w-maxi{
      width: 1440px;
  }



}

body {
  margin: 0;
  min-height: 3340px;
  background-image: url('https://i.ibb.co/TLgN8HG/background.png'); 
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: 'Montserrat', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
